In [9]:
import sys

import getopt
from datetime import datetime

import pandas as pd
import psycopg2

from sqlalchemy import create_engine

In [10]:
#!/usr/bin/python
# -*- coding: utf-8 -*-


db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string) 


query = ''' SELECT * 
            FROM dash_visits
        '''

dash_visits = pd.io.sql.read_sql(query, con = engine)

dash_visits.to_csv('dash_visits.csv', index=False)

In [11]:
dash_visits.sample(10)

,record_id,item_topic,source_topic,age_segment,dt,visits
25602,1066199,Семья,Знаменитости,36-40,2019-09-24 18:33:00,1
18243,1058840,Подборки,Одежда,26-30,2019-09-24 18:52:00,1
23579,1064176,Рассказы,Россия,26-30,2019-09-24 18:59:00,11
4781,1045378,Здоровье,Еда,31-35,2019-09-24 18:56:00,10
29917,1070514,Юмор,История,18-25,2019-09-24 18:28:00,2
12669,1053266,Культура,Психология,18-25,2019-09-24 18:55:00,4
1064,1041661,Деньги,Семья,31-35,2019-09-24 18:57:00,7
10725,1051322,История,Спорт,45+,2019-09-24 18:58:00,1
18126,1058723,Подборки,Кино,26-30,2019-09-24 18:34:00,2
20093,1060690,Полезные советы,Сад и дача,26-30,2019-09-24 18:29:00,1

In [12]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [13]:
dash_visits.isna().sum()

record_id       0
item_topic      0
source_topic    0
age_segment     0
dt              0
visits          0
dtype: int64

In [14]:
dash_visits.duplicated().sum()

0